body {
  margin: 0;
  padding: 0;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Didact Gothic', sans-serif;
}

input {
  border-radius: 0;
}

ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
